* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    line-height: 1rem;
    color: #333;
    min-width: 375px;
}

.global-container {
    width: 100%;
    height: 100vh;
}

/******************************/
/* SECTION 1 */
/******************************/

.relative-container-1 {
    position: relative;
}

.background-image {
    object-fit: cover; /* REMEMBER */
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.container-section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 5fr .5fr;
}

.sub-section-1-span-container {
    grid-area: 1 / 2; /* row / column */
    color: #A4AFC4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}

.sub-section-1-span1 {
    font-size: 4rem;
    letter-spacing: 1rem;
}

.sub-section-1-span2 {
    font-size: 2rem;
    letter-spacing: 1.65rem;
    line-height: 5rem;
}

.sub-section-1-video-container {
    grid-area: 2 / 2;
}

.iframe-video {
    border-radius: 10px;
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 3 / 1.6;
}

.sub-section-1-para-1 {
    /* grid-area: 3 / 2; */
    font-size: 1.5rem;
    line-height: 3rem;
    color: #A4AFC4;
    margin-top: 1rem;
    text-align: justify;
    letter-spacing: .3rem;
}

.sub-section-1-icon-container {
    grid-area: 3 / 2;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.sub-section-1-div-3-svg {
    width: 45px;
    height: 45px;
    color: #A4AFC4;
}

.sub-section-1-div-3-svg:hover {
    color: #eee;
    transform: scale(110%)
}

